/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f8feff;
    height: 100vh;
}

.interface {
    margin: 0 auto;
    max-width: 1280px;
}

.padrao {
    display: flex;
}

.logo img {
    width: 95px;
    height: 90px;
}

.menu ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.interface h2 {
    color: #2B3A67;
    font-size: 40px;
    font-weight: 700;
    padding: 50px 0;
    text-align: center;
}

.interface span {
    color: #05BBD1;
}

.bt_redes button {
    width: 80px;
    height: 80px;
    background-color: #2B3A67;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #ffff;
    border: none;
}

.bt_redes a button:hover {
    transform: scale(1.05);
    transition: .4s;
    box-shadow: 0 0 12px #05BBD1;
    cursor: pointer;
    
}

/* CABECALHO */

.cabecalho {
    padding: 0 4%;
    background-color: #2B3A67;
}

.cabecalho .padrao {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.cabecalho .menu a{
    padding: 0 30px;
    font-size: 18px;
    color: #ffff;
    display: inline-block;
}

.cabecalho nav.menu a:hover {
    color: #05BBD1;
    transform: scale(1.05);
    transition: .2s;
}

.cabecalho .contato {
    display: inline-block;
}

.cabecalho button {
    width: 165px;
    height: 50px;
    border-radius: 30px;
    background-color: #05BBD1;
    border: none;
}

.cabecalho .contato button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .2s;
    box-shadow: 0 0 8px #61DBFB;
}

.cabecalho .contato a {
    color: #ffff;
    font-size: 15px;
    font-weight: 700;
}

/* INICIO */

section.inicio {
    margin-top: 40px;
    padding: 40px 4%;
}

.ft_eu img {
    width: 450px;
    height: 600px;
    border-radius: 15px;
}

.inicio .padrao {
    align-items: center;
    gap: 100px;
}

.inicio .txt_eu {
    font-size: 20px;
}

.inicio .txt_eu h1 {
    color: #2B3A67;
}

.inicio .txt_eu span {
    display: block;
    margin-bottom: 35px;
}

section.inicio .bt_redes {
    padding: 40px 0;
    display: flex;
    gap: 25px;
}

/* SOBRE */

section.sobre {
    margin-bottom: 120px;
    padding: 40px 4%;
}

.sobre .interface .padrao {
    justify-content: space-between;
    align-items: center;
}

.sobre .interface .txt_inicial {
    max-width: 60%;
}

.interface .base_arte img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    position: relative;
    animation: balao 1.8s ease-in-out infinite alternate;
}

@keyframes balao {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

.interface .txt_inicial p {
    font-size: 20px;
    line-height: 30px;
}

/* CONHECIMENTOS */

.conhecimentos .interface {
    padding: 60px 4%;
}

.conhecimentos .padrao {
    gap: 0 55px;
    align-content: center;
}

.conhecimentos .cx_conhecimento {
    padding: 60px;
    border-radius: 12px;
    
}

.conhecimentos .cx_conhecimento:hover {
    box-shadow: 0 0  12px #05BBD1;
    transform: scale(1.05);
    transition: .2s;
    cursor: pointer;
}

.conhecimentos .interface {
    justify-items: center;
}

.conhecimentos i {
    color: #05BBD1;
    font-size: 55px;
}

.conhecimentos h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #2B3A67;
}

/* PORTFOLIO */

section.portfolio {
    box-shadow: 0 0 12px #05BBD1;
    padding: 40px 2%;
    padding-bottom: 90px;
}

section.portfolio .padrao {
    gap: 40px;
}

.imgptf {
    width: 450px;
    height: 600px;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    position: relative;
    background-position: 100% 0;
    transition: 3s;
}

.imgptf:hover {
    background-position: 100% 100%;
}

.txtport {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    background-color: #2b3a6786;
    color: #ffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    opacity: 0;
    transition: .5s;
}

.txtport:hover {
    opacity: 1;
}

/* RODAPE */

.rodape {
    padding: 40px 4%;
}

.rodape .padrao {
    justify-content: space-between;
    padding: 15px 0;
}

.rodape .bt_redes {
    display: flex;
    gap: 15px;
}

.rodape .email {
    font-size: 25px;
    text-decoration: none;
    border-top: 2px solid #05BBD1;
    padding: 20px 0;
}

.rodape .email i {
    color: #2B3A67;
    padding: 0 10px;
}

.rodape .email a {
    color: #05BBD1;
}

.rodape .email a:hover {
    color: #7de9f5;
    transition: .5s;
}


/* RESPONSIVO */

@media screen and (max-width: 1220px) {
    /* CLASSES GERAIS */
    .padrao {
        flex-direction: column;
        align-items: center;
    }

    .bt_redes {
        justify-content: center;
    }

    /* INICIO */

    section.inicio .padrao {
        flex-direction: column-reverse;
    }

    .txt_eu {
        text-align: center;
    }

    .inicio .txt_eu {
        font-size: 28px;
    }

    .inicio .txt_eu h1 {
        font-weight: 700;
    }

    .interface .txt_eu p {
        font-size: 25px;
    }

    /* CONHECIMENTOS */

    .conhecimentos .cx_conhecimento {
        padding: 40px 8%;
    }

    /* SOBRE */

    .sobre .interface .txt_inicial {
        max-width: 80%;
    }

    .sobre .txt_inicial {
        padding: 80px 0;
    }

    /* RODAPE */

    .rodape .logo {
        margin-bottom: 25px;
    }

    .rodape .bt_redes {
        margin-bottom: 25px;
    }
}

